.playlist-container {
    width: 100%;
    display: flex;
    gap: 0.5em;
}

.playlist-container a {
    text-decoration: none;
}

.video-renderer {
    width: 210px;
}

.thumbnail {
    width: 100%;
    height: 118px;
    object-fit: cover;
    border-radius: 10px;
    filter: saturate(0);
}

.title-div {
    color: white;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    max-height: 4rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}